.about-us-section {
  @apply w-full min-h-screen relative text-white;

  .about-us {
    @apply relative min-h-screen z-20 bg-about-us bg-cover bg-left-bottom;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: hard-light;

    .about-us-bg {
      @apply absolute w-full h-full bg-transparent bg-cover
      top-0 left-0;
      .item-1 {
        &::after {
          @apply content-[""]
          absolute w-1/3 h-1/4
          bg-green-light opacity-30
          top-0 left-0
          blur-[90px] sm:blur-[140px] md:blur-[200px];
        }
        &::before {
          @apply content-[""]
          absolute w-1/3 h-1/4
          bg-purple opacity-30
          top-0 left-0 translate-x-44 translate-y-40
          blur-[90px] sm:blur-[140px] md:blur-[200px];
        }
      }
      .item-2 {
        &::after {
          @apply content-[""]
          absolute w-1/3 h-1/4
          bg-green-light opacity-30
          top-[90vh] right-0
          blur-[90px] sm:blur-[140px] md:blur-[200px];
        }
        &::before {
          @apply content-[""]
          absolute w-1/3 h-1/4
          bg-purple opacity-30
          top-[90vh] right-0 -translate-x-44 -translate-y-40
          blur-[90px] sm:blur-[140px] md:blur-[200px];
        }
      }
    }

    .svg-wave {
      @apply absolute -top-0.5 left-0 w-full h-fit -z-10;
      svg {
        @apply text-blue-dark;
      }
    }

    .about-us-gallery {
      @apply container mx-auto relative z-20
      grid grid-cols-8 gap-x-10 gap-y-9 md:gap-y-16;

      .texts {
        @apply col-span-full lg:col-span-3 font-albert-sans
        px-2
        md:pl-28
        lg:pr-0
        lg:pl-28;

        .title {
          @apply font-libre-caslon font-bold  pb-5 md:py-10;
          @extend .title-2-sizing;
        }
        .text {
          @apply pb-5 max-w-80 lg:max-w-96;
          @extend .text-2-sizing;
        }
        .link {
          @extend .btn-1, .text-3-sizing;
          @apply uppercase font-bold font-albert-sans px-4 md:px-7
          text-xs;
        }
      }

      .images {
        @apply col-span-full lg:col-span-5
        relative grid grid-cols-2
        ml-2
        mr-7
        md:mx-28
        lg:pl-2
        lg:ml-0
        lg:mr-28;

        .image {
          @apply w-full bg-cover bg-center min-h-72 transition-all duration-200 relative;

          &::before {
            @apply absolute content-[""] w-full h-full bg-blue-dark transition-all duration-200 opacity-30;
          }

          &.active {
            .image-text {
              @apply opacity-95 scale-100;
            }
            &::before {
              @apply opacity-0;
            }
          }

          &:hover {
            @extend .active;
          }
          .image-text {
            @apply absolute
            transition-all duration-300 scale-75
            top-3/4
            left-1/2
            -translate-x-1/2
            md:-translate-x-0

            md:-left-10
            rounded-lg
            font-bold font-albert-sans uppercase

            px-1 py-2
            md:px-2 md:py-4
            bg-white text-black
            text-xs md:text-sm
            opacity-0;

            span {
              @apply text-blue-light pl-1;
            }
          }
        }

        .svg-dots {
          @apply absolute
          scale-50 md:scale-100
          -translate-x-2
          md:translate-x-1
          rotate-180
          top-1/2 left-full -translate-y-1/2 h-1/2 w-fit;
        }
      }
    }
  }

  .c-u-soon {
    @apply bg-blue-dark relative pb-24 z-20;
    .c-u-soon-container {
      @apply relative pt-10 pb-24;
      @extend .head-2;

      &::before {
        @apply content-[""] absolute  rounded-xl
        bg-gradient-to-t from-green-light to-blue-light
        left-1/2 top-full
        -translate-x-1/2
        -translate-y-1/2
      w-[2px] h-20;
      }
    }
  }
}
