@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");

/*
Larsseit >>
font-family: "Albert Sans", sans-serif;

Noe Display >> bold
font-family: "Libre Caslon Text", serif;


*/

body {
}

.app {
  @apply min-h-screen;
}
.page {
  @apply min-h-screen   pt-14
  container mx-auto   px-2
  sm:px-0;
}

* {
  @apply outline-none;
  &::selection {
    @apply bg-blue-light/70 text-black/95;
  }
}

.title-1-sizing {
  @apply text-5xl sm:text-6xl md:text-8xl;
}

.title-2-sizing {
  @apply text-3xl sm:text-4xl md:text-5xl;
}
.text-2-sizing {
  @apply text-xs sm:text-sm md:text-base;
}

.btn-1 {
  @apply bg-blue-light text-white transition-all duration-150 font-bold 
  text-center rounded-full relative
  text-xs sm:text-sm md:text-base  
  drop-shadow-glow-btn-1
  py-2 md:py-4;

  &:hover {
    @apply bg-blue-light/60;
  }
  &:after {
    @apply content-[""] bg-white 
      absolute  
      rounded-2xl
      w-[10px] md:w-[30px] 
      h-[2px]  
      top-1/2 -translate-y-1/2 
      right-0 translate-x-1/2;
  }
}

/* Gradient transition */

/*
position: absolute;
width: 1920px;
height: 377px;

background: linear-gradient(
  180deg,
  rgba(1, 22, 39, 0) 0%,
  #011627 76.64%,
  #011627 100%
);
*/
