.peoples-thoughts {
  @apply bg-gradient-dark-bottom pt-36 px-2;
  .peoples-thoughts-container {
    @apply container mx-auto bg-blue-dark relative z-10 
    rounded-t-lg
    py-20;

    &::before {
      @apply content-[""] absolute  rounded-xl
      bg-gradient-to-b from-green-light to-blue-light
      left-1/2 bottom-full 
      -translate-x-1/2
      translate-y-1/2
      w-[2px] h-20;
    }

    .peoples-thoughts-head {
      @extend .head-2;
    }

    .peoples-thoughts-cards {
      @apply max-w-5xl mx-auto grid justify-items-center place-content-center
      grid-cols-1
      md:grid-cols-2 
      px-3
      
      gap-y-3
      sm:gap-x-4 sm:gap-y-3
      md:gap-8;

      .pt-card {
        @apply bg-blue
        rounded-lg
        transition-all duration-200
        p-14 pl-16
        lg:p-20 lg:pl-24
        pr-14 lg:pr-16
        md:max-w-lg;

        &:hover {
          @apply bg-blue-light/10  scale-[98%];
          .content {
            @apply scale-[102%];
          }
        }

        .content {
          @apply relative transition-all duration-500;

          .svg-quote {
            @apply absolute 
            top-0
            right-full -translate-x-4 lg:-translate-x-5
            w-5 h-5
            md:w-6 md:h-6
            
            lg:w-8 lg:h-8;
          }

          .comment {
            p {
              @apply py-3;
              @extend .text-2-sizing;
            }
          }

          .user {
            @apply flex pt-10 items-center;
            .user-image {
              @apply bg-cover bg-center rounded-lg
              min-h-[68px] min-w-[68px] 
              lg:h-20 lg:w-20;
            }
            .user-info {
              div {
                @apply uppercase font-bold tracking-widest
                pl-3
                lg:pl-4
                py-1
                lg:py-2;
                @extend .text-3-sizing-1;
              }
            }
          }
        }
      }
    }
  }
}
